# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.snap
*~

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
*.qm
*.orig
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*/build/*
stage/*
prime/*
parts/*
*cqtdeployer_resource.rc
sharedQtWin64/*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

snap/\.snapcraft/

\.buildconfig

sharedQt/
sharedQtWin32/
sharedQtWin64/

distro/
Distro/
deployTests/
QIFData/packages/cqtdeployer*/data/
QIFData/packages/QIF/data/
staticQt/
staticQtWin32/
staticQtWin64/
build
UnitTests/release/*
UnitTests/debug/*
UnitTests/res_qmlcache.qrc

# cmake 
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
zip/
