[submodule "QuasarAppLib"]
	path = QuasarAppLib
	url = https://github.com/QuasarApp/QuasarAppLib.git
[submodule "QuasarAppScripts"]
	path = QuasarAppScripts
	url = https://github.com/QuasarApp/QuasarAppScripts.git
[submodule "zip"]
	path = zip
	url = https://github.com/QuasarApp/zip.git
[submodule "LIEF"]
	path = LIEF
	url = https://github.com/QuasarApp/LIEF
