[submodule "QuasarAppLib"]
	path = QuasarAppLib
	url = https://github.com/QuasarApp/QuasarAppLib.git
[submodule "qtTools"]
	path = qtTools
	url = https://github.com/qt/qttools.git
[submodule "pe"]
	path = pe
	url = https://github.com/QuasarApp/pe-parse.git
[submodule "installer"]
	path = installer
	url = git@github.com:QuasarApp/DesktopInstaller.git
