[submodule "QuasarAppLib"]
	path = QuasarAppLib
	url = https://github.com/QuasarApp/QuasarAppLib.git
[submodule "qtTools"]
	path = qtTools
	url = https://github.com/qt/qttools.git
[submodule "pe"]
	path = pe
	url = https://github.com/QuasarApp/pe-parse.git
[submodule "installer"]
	path = installer
	url = https://github.com/QuasarApp/DesktopInstaller.git
[submodule "QuasarAppScripts"]
	path = QuasarAppScripts
	url = https://github.com/QuasarApp/QuasarAppScripts.git
[submodule "doc/wiki"]
	path = doc/wiki
	url = https://github.com/QuasarApp/CQtDeployer.wiki.git
[submodule "zip"]
	path = zip
	url = https://github.com/QuasarApp/zip.git
