<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Stylesheet Example</Name>
    <Version>1.0.0</Version>
    <Title>Stylesheet Example</Title>
    <Publisher>Qt-Project</Publisher>
    <StartMenuDir>Qt IFW Examples</StartMenuDir>
    <TargetDir>@HomeDir@/IfwExamples/stylesheet</TargetDir>
    <WizardStyle>Classic</WizardStyle>
    <StyleSheet>style.qss</StyleSheet>
    <TitleColor>#FFFFFF</TitleColor>
</Installer>
