[Desktop Entry]
Version=1.4.6.2
Name=CQtDeployer
Comment=CQtDeployer Help.
Exec=cqtdeployer
Icon=${SNAP}/meta/gui/icon.png
Terminal=true
Type=Application
Categories=Application;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=CQtDeployer
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=1.4.6.2
StartupNotify=true
Name[ru_RU]=CQtDeployer
